.content{
	border: 20px solid cyan;
	border-right: 20px solid black;
	border-left: 20px solid black;
	border-radius: 10px;

}

.content .header{
	text-align: center;
	font-size: 20px;	
	background-color: black;	
	color: whitesmoke;
	padding-top:20px;
	padding-bottom:10px;
	text-decoration: cyan;	

}

.big-img img{	
	width: 100%;
	
	
}

.text{
	text-align: center;
	font-size: 20px;
	background-color: black;
	color:white;	
	padding: 20px;
	padding-bottom:10px;
	
}